@using System.Configuration
@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Mvc
@using System.Web
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Razor;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore.Builder
@{

 ViewData["Title"] = "LOGIN";





    ViewData["Title"] = "Mensa Order System | Login";
    if(ViewData["state"] == null)
    {
        <h1>ERROR</h1>
        return;
    }
    if ((int)ViewData["state"] == 2)
    {
        <h1>PASSWORT ODER BENUTERNAME FALSCH</h1>
        <form action="/Login" method="post">
            <div class="container" style="color: rgb(255, 0, 0)" >
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" value="@ViewData["username"]" required>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <input type="hidden" name="action" value="login" />
                <input type="hidden" name="method" value="post" />
                <button type="submit">Login</button>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
            </div>
        </form>
        return;
    }

    if ((int)ViewData["state"] == 0)
    {
        <form action="/Login" method="post">
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <input type="hidden" name="action" value="login" />
        <input type="hidden" name="method" value="post" />
                <button type="submit">Login</button>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
            </div>
        </form>
    }
    else if ((int)ViewData["state"] == 3)
    {
        <h1>PASSWORT ODER BENUTERNAME FALSCH</h1>
        <form action="/Login" method="post">
            <div class="container" style="color: rgb(255, 0, 0)">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" value="@ViewData["username"]" required>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <input type="hidden" name="action" value="login"/>
        <input type="hidden" name="method" value="post" />
                <button type="submit">Login</button>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
            </div>
        </form>
    }
    else if ((int)ViewData["state"] == 1)
    {
       
                if ((String)ViewData["Benutzerrolle"] == "Student")
                {
                    <span>
                        Hallo,<b>@ViewData["user"]</b> (@ViewData["Matrikelnummer"]). Sie sind Angemeldet als
                        <b>@ViewData["Studiengang"]</b><br />
                    </span>
                }
                else if ((String)ViewData["Benutzerrolle"] == "Mitarbeiter")
                {
                    <h2>@ViewData["MA-Nummer"]</h2><br />
                    <h2>@ViewData["Büro"]</h2><br />
                }
        <span>Du warst das letzte mal am @ViewData["lastlogin"] angemeldet.</span>


        if (!String.IsNullOrEmpty((String)ViewData["table"]))
        {
             @Html.Raw(ViewData["table"]);
        }

        //TODO ADMIN STUFF HERE

                <br /><br />
             <form action="Login" method="post">
                <input type="hidden" name="action" value="logout" />
                <input type="submit" value="ABMELDEN" />

            </form>




    }
    else if ((int)ViewData["state"] == 4)
    {

        <span> YOU ARE NOT VERIFIED</span>


        //TODO ADMIN STUFF HERE

        <br /><br />
                <form action="Login" method="post">
                    <input type="hidden" name="action" value="logout" />
                    <input type="submit" value="ABMELDEN" />
                </form>




    }
}









