@using System.Configuration
@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Mvc
@using System.Web
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Razor;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore.Builder

@{

        ViewData["Title"] = "Details";
        MySqlConnection con1 = new MySqlConnection(DB_ACCESS.Instance.get_conn_string()); // lässt sich per using(){} noch besser handhaben
        HttpContext con = HttpContextNew.get_con();
    

        String id = con.Request.Query["id"];

        if (!String.IsNullOrEmpty(con.Session.Get<String>("role")) && (con.Session.Get<String>("role") == "Student" || con.Session.Get<String>("role") == "Gast" || con.Session.Get<String>("role") == "Mitarbeiter"))
        {
            ViewData["role"] =con.Session.Get<String>("role");
        }
        else
        {
            ViewData["role"] = "Gast";
        }
        if (id != null)
        {
            ViewData["prodid"] = id;
        }
        else
        {
            //TODO SET HEADER
            @Html.Raw("<script>alert('FEHLENDER PARAMETER')</script>");
        }


        try
        {
            con1.Open();
            MySqlCommand cmd;
            cmd = con1.CreateCommand();

            if (ViewData["prodid"] == null) {

                ViewData["header_addition"] = "<meta http-equiv=\"refresh\" content=\"3; url=/\"/>";
                return; }

            String cmdb = "SELECT * FROM `Produkt` LEFT JOIN `Preis` ON `Preis`.`Id` = `Produkt`.`FK_Preis` LEFT JOIN `Bild` ON `Bild`.`Id` = `Produkt`.`FK_Bild` WHERE `Produkt`.`Id`='" + ViewData["prodid"] + "' LIMIT 1";


            cmd.CommandText = cmdb;
            MySqlDataReader r = cmd.ExecuteReader();
            bool done = false;
            while (r.Read())
            {
                ViewData["Titel"] = (String)r["Titel"];
                ViewData["Beschreibung"] = (String)r["Beschreibung"];



                if (ViewData["role"] != null && (String)ViewData["role"] == "Student")
                {
                    ViewData["preis"] = r["Studentenbetrag"];
                }
                else if (ViewData["role"] != null && (String)ViewData["role"] == "Mitarbeiter")
                {
                    ViewData["preis"] = r["Mitarbeiterbetrag"];
                }
                else
                {
                    ViewData["preis"] = r["Gastbetrag"];
                }

                ViewData["img_path"] = r["DetailsBildPfad"];
                done = true;

            }


            con1.Close();

            if (!done)
            {

                ViewData["header_addition"] = "<meta http-equiv=\"refresh\" content=\"3; url=/\"/>";

            <script>
                alert("Diese Produkt is leider nicht verfügbar");
                window.setTimeout('location.href="/"', 3000);;
            </script>
                    return;
            }

        }
        catch (Exception e)
        {
        <p class="error">Das hat nicht geklappt.</p>
                    <pre>@e.Message</pre>
    }
}


<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Details für "@ViewData["Titel"]"</h1>
                    </div>
                </div>
            
                
                <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    @{
                                        if (ViewData["role"] == "Gast" || ViewData["role"] == null)
                                        {
                                    <form method="post" action="Login">
                                        <fieldset>
                                            <legend>Login </legend>
                                            <input class="form-control" type="text" name="username" required="" placeholder="Benutzer">
                                            <input class="form-control" type="password" name="password" required="" placeholder="password">
                                            <input type="hidden" name="action" value="login" />
                                            <input class="btn btn-link link_button" type="submit" value="Anmelden" />
                                        </fieldset>
                                    </form>
                                        }
                                        }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <img class="img-responsive" src="./assets/images/speise_icons/@ViewData["img_path"]" width="700px" height="150px"/>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-right">@ViewData["role"]-Preis </h5>
                                    <h5 class="text-right">@ViewData["preis"] €</h5></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn" type="submit">
                                            <img src="./assets/images/glyphicons_free/glyphicons/png/glyphicons-276-fast-food.png"/> Vorbestellen 

                                    </button>
                                </div>
                            </div> 
                        </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-2">
                    @{
                        if (ViewData["role"] == "Gast" || ViewData["role"] == null)
                        {
                    <span>Melden Sie sich jetzen an um wirklich günstigeren Preis für Mitarbeiter und Studenten zu sehen</span</div>
                            }
                        }
                  </div>

                    <div class="col-md-8">
                        <div>
                                    <!-- TAB START-->
                                            <div class="tabbable-panel">
                                                <div class="tabbable-line">
                                                    <ul class="nav nav-tabs ">
                                                        <li class="active">
                                                            <a href="#tab_beschreibung" data-toggle="tab">Beschreibung</a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab_zutaten" data-toggle="tab">Zutaten</a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab_bewertung" data-toggle="tab">Bewertungen</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab_beschreibung">
                                                            @ViewData["Beschreibung"]
                                                           <!-- <a href="detail.html?id=Krautsalat">Krautsalat</a>-->
                                                        </div>
                                                        <div class="tab-pane" id="tab_zutaten">
                                                          @ViewData["Zutaten"]
                                                        </div>
                                                        <!--FORM BEWERTUNG START-->
                                                        <div class="tab-pane" id="tab_bewertung">
                                                            <form method="POST" action="http://bc5.m2c-lab.fh-aachen.de:8080/data.php">
                                                            <fieldset>
                                                                    <legend>Bewertung </legend>

                                                                    <input type="hidden" name="matrikelnummer" id="matrikelnummer" value="31230232" />
                                                                    <input type="hidden" name="kontrolle" id="kontrolle" value="och" />

                                                                    <table class="table">
                                                                              <tr>
                                                                                <td><label for="benutzer">Benutzername</label></td>
                                                                                <td><input type="text" id="benutzer" name="benutzer" placeholder="benutzer" /></td>
                                                                              </tr>
                                                                              <tr>                                                                               
                                                                                <td><label for="bemerkung">Bemerkung</label></td>
                                                                                <td><input type="textarea" id="bemerkung" name="bemerkung" placeholder="bemerkung" /></td>                                                                            
                                                                              </tr>
                                                                              <tr>                               
                                                                                    <td><label for="bewertung">Bewerung</label></td>
                                                                                    <td><input type="range" min="1" max="5" step="1" value="3" name="bewertung" id="bewertung" /></td>                                                                           
                                                                                  </tr>
                                                                                  <tr>     
                                                                                        <td></td>
                                                                                        <td><input type="submit" value="SENDEN" action=""/></td>
                                                                                      </tr>
                                                                            </table>
                                                                          
                                                                </fieldset>
                                                            </form> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- TAB END-->
                        </div>
                    </div>
                </div>
            </div>
        </div>